html {
    height: 100%;
}

*{
	font-family: Helvetica, Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
    font-size: 18px;
	color: #666;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #fff;
    overflow: hidden;
    position: relative;
}
/** {
    pointer-events: none;
}*/

.header {
    background: #666;
    height: 56px;
    width: 100%;
    color: #fff;
	border-bottom:1px solid #fff;
}
	.header > button
	{
		display: inline-block;
		margin: 5px;
	}
.waiting
{
	width:100%;
	height:100%;
	background-image: url(/img/waiting.gif);
	background-position:center;
	background-repeat:no-repeat;
}
.error
{
	padding:10px;
	color:#f00;
	font-weight:bold;
}
.header h1 {
    padding: 0;
    text-align: center;
    font-size: 20px;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
	color: #fff;
}
label
{
	padding:4px 4px;
}
textarea
{
	resize: none;
	width:100%;
	height:72px;
	border:1px solid #666;
	margin-bottom: 2px;
}
input
{
	width:100%;
	border:1px solid #666;
	margin-bottom: 2px;
	font-size:20px;
	height:40px;
	padding:4px 4px;
}
select
{
	width:100%;
	border:1px solid #666;
	margin-bottom: 2px;
	height:40px;
	font-size:20px;
	padding:0px;
}
option
{
	height:40px;
}

button {
    color: #666;
    display: block;
    padding: 5px;
	border: 1px solid #666;
	background-color: white;
	font-size: 18px;
}

.buttonlist > div
{
	border: none;
	width:100%;
	border-bottom:1px solid #666;
	padding:8px;
	text-align:left;
	margin: 0px;
}
.buttonlist > button
{
	border: none;
	width:100%;
	border-bottom:1px solid #666;
	padding:8px;
	text-align:left;
	margin: 0px;
}

#states.collapsed > button
{
	display: none;
}

#states.collapsed > button.selected
{
	display: block;
}


button.tappable-active {
    color: #fff;
    background-color: #4286f5;
}
button.selected {
    color: #fff;
    background-color: #4286f5;
}

h1 {
    font-size: 18px;
    padding: 20px 0 0 0;
    margin: 0px;
}

h2 {
    font-size: 18px;
    font-weight: normal;
    padding: 0px;
    margin: 0px;
}

.scroll {
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    top: 57px;
	bottom:0px;
    left: 0px;
    right: 0px;
}

.footer {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
	background-color: #666;
    position: absolute;
    bottom:0px;
    left: 0px;
    right: 0px;
	z-index:10000;
}
		.footer > button
        {
			padding: 0 10px;
			font-size: 18px;
			margin: 0;
			border: none;
			display: inline-block;
            background-color: transparent;
            color:white;
            height: 44px;
            line-height: 44px;
        }
            .footer > button.selected
            {
                background-color:white;
                color:#666;
            }

.page {
    position: absolute;
    width: 100%;
    height: 100%;
	top: 0;
    -webkit-transform:translate3d(0,0,0);
}

.stage-center {
    top: 0;
    left: 0;
}

.stage-left {
    left: -100%;
}

.stage-right {
    left: 100%;
}

.transition {
    -moz-transition-duration: .375s;
    -webkit-transition-duration: .375s;
    -o-transition-duration: .375s;
}
button.icon
{
	background-color: transparent;
	background-image: url(/img/taxicon.png);
	background-repeat:no-repeat;
	width:50px;
	height:50px;
	display:inline-block;
	border:none;
	margin:3px;
}
button.ico_back {background-position:-101px -91px; }
button.ico_map {background-position:-251px -91px; }
button.ico_stop {background-position:-151px -91px; }
button.ico_order {background-position:0px -91px; }
button.ico_message {background-position:-51px -91px; }
button.ico_settings {background-position:-201px -91px; }

#mapMessage
{
	height: 24px;
	line-height: 24px;
	padding-left: 5px;
	width: 100%;
	overflow: hidden;
	background-color: #eee;
	color: black;
}
#mapOut
{
	padding: 5px;
	position: absolute;
	bottom: 0px;
	right: 0;
	color:white;
	background-color: rgba(0, 0, 0, 0.60);
}
#mapDiv
{
	position: absolute;
	bottom: 0;
	left: 0;
	display: none;
	width: 100%;
	height: 100%;
}
